<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title>
  </head>
  <body>
    <form action="/user_input" method="POST">
      <label for="user_input">Enter your input:</label>
      <input type="text" id="user_input" name="user_input">
      <input type="submit" value="Submit">
    </form>
  </body>
</html> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
  </head>
  <body>
    <h1>No-Code SmartContract using Bard</h1>
    <form action="/user_input" method="POST">
      <label for="user_input">Enter your Query:</label>
      <input type="text" id="user_input" name="user_input">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>