<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
  </head>
  <body>
    <h1>No-Code SmartContract (File Generation)</h1>
    <form method="post" action="{{ url_for('user_input') }}">
      <label for="user_input">Enter your Query:</label>
      <input type="text" id="user_input" name="user_input">
      <label for="llm_option">Please select LLM:</label>
      <select id="llm_option" name="llm_option">
        <option value="Bard">Bard</option>
        <option value="ChatGPT">ChatGPT</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
      <p>--> Bard Doesn't supoort memorization of previous conversation</p>
      <p>--> ChatGPT Does supoort memorization of previous conversation</p>
    </form>
  </body>
</html>